<!DOCTYPE html>
<html lang="en-gb" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="知乎福利,豆瓣福利,妹子,爆照" />
  <meta name="description" content="知乎福利,豆瓣福利,妹子,爆照>
    {% if title %}
    <title>{{ title }} －看图君</title>
    {% else %}
  <title>看图君</title>
    {% endif %}
  <link rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/uikit.gradient.css">
  <script src="http://files-10015041.file.myqcloud.com/static/src/js/jquery.js"></script>
  <script src="http://files-10015041.file.myqcloud.com/static/src/js/uikit.js"></script>
  <link id="data-uikit-theme" rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/uikit.docs.min.css">
  <link rel="stylesheet" href="http://files-10015041.file.myqcloud.com/static/src/css/my_uikit.css">
    <script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
    {% block script_file %}
    {% endblock %}
</head>

<body class="tm-background">
  <nav class="tm-navbar uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">

                <a class="uk-navbar-brand uk-hidden-small" href="/index">看图君</a>

                <ul class="uk-navbar-nav uk-hidden-small">
                    {% if index == 1 %}
                    <li class="uk-active"><a href="/index">首页</a></li>
                    {% else %}
                    <li><a href="/index">首页</a></li>
                    {% endif %}
                    {% if index == 5 %}
                    <li class="uk-active"><a href="/index/douban">豆瓣妹子</a></li>
                    {% else %}
                    <li><a href="/index/douban">豆瓣妹子</a></li>
                    {% endif %}

                    {% if index == 2 %}
                    <li class="uk-active"><a href="/index/zhihu">知乎看图</a></li>
                    {% else %}
                    <li><a href="/index/zhihu">知乎看图</a></li>
                    {% endif %}
                    {% if index == 3 %}
                    <li class="uk-active"><a href="/index/zone">捡图</a></li>
                    {% else %}
                    <li><a href="/index/zone">捡图</a></li>
                    {% endif %}
                    {% if index == 4 %}
                    <li class="uk-active"><a href="/index/give_me_tip">打赏我</a></li>
                    {% else %}
                    <li><a href="/index/give_me_tip">打赏我</a></li>
                    {% endif %}
                </ul>

                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>
                    <i class="uk-icon-hand-o-right"></i>
                </a>

                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">看图君</div>

            </div>
        </nav>
  <div class="tm-middle">
  <div class="uk-container uk-container-center">
  <div class="uk-grid" data-uk-grid-margin>
      {% block mid_content %}
      {% endblock %}
  </div>
</div>
</div>
<div id="offcanvas" class="uk-offcanvas">
          <div class="uk-offcanvas-bar">
              <ul class="uk-nav uk-nav-offcanvas">
                  {% if index == 1 %}
                  <li class="uk-active">
                      <a href="/index">首页</a>
                  </li>
                  {% else %}
                  <li>
                      <a href="/index">首页</a>
                  </li>
                  {% endif %}
                    {% if index == 5 %}
                  <li class="uk-active">
                      <a href="/index/douban">豆瓣妹子</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/index/douban">豆瓣妹子</a>
                  </li>
                    {% endif %}
                  {% if index == 2 %}
                  <li class="uk-active">
                      <a href="/index/zhihu">知乎看图</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/index/zhihu">知乎看图</a>
                  </li>
                    {% endif %}
                    {% if index == 3 %}
                    <li class="uk-active">
                      <a href="/index/zone">捡图</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/index/zone">捡图</a>
                  </li>
                    {% endif %}
                    {% if index == 4 %}
                    <li class="uk-active">
                      <a href="/index/give_me_tip">打赏我</a>
                  </li>
                    {% else %}
                  <li>
                      <a href="/index/give_me_tip">打赏我</a>
                  </li>
                    {% endif %}
{#                    <li>#}
{#                      <a href="/index/logout">登出</a>#}
{#                  </li>#}
              </ul>
          </div>
</div>
<div class="tm-footer">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="https://github.com/LinSuper">GitHub</a></li>
                    <li><a href="http://blog.superlin.cc">blog</a></li>
                </ul>
            </div>
            <div align="center">
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257489177'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257489177' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        </div>
</body>
{% block script %}
{% endblock %}
</html>

