{% extends "base.html" %}
{% block mid_content %}
    <div class="uk-width-medium-1-1">
      <p class="uk-text-large"><a href="{{ url }}">{{ title }}</a></p>
      <div class="uk-gird" data-uk-grid-margin>
          <div id="all_article_box">
            {% for i in data %}
                <article class="uk-article">
                <h1 class="uk-article-title"><a></a></h1>
                <p class="uk-article-meta">
                    {% if i.author_url %}
                    <a href="{{ i.answer_url }}">阅读原文</a> 回答者 <a href="{{ i.author_url }}">{{ i.author }}</a>
                    {% else %}
                    <a href="{{ i.answer_url }}">阅读原文</a> 回答者 <a href="#">{{ i.author }}</a>
                    {% endif %}
                </p>
                {% for j in i.image %}
                    <img src="http://ali.superlin.cc:9999/img/zhihu?url={{ j }}" class="uk-thumbnail-mini">
                {% endfor %}
                </article>
            {% endfor %}
            </div>
      </div>
    {% if page_count > 1 %}
    <ul class="uk-pagination">
    {% if page_count<=10 %}
    {% for i in range(page_count) %}
        {% if loop.index == current_page %}
            <li class="uk-active"><span>{{ loop.index }}</span></li>
        {% else %}
            <li><a href="/index/question/{{ q_id }}?page={{ loop.index }}">{{ loop.index }}</a></li>
        {% endif %}
    {% endfor %}
    {% else %}
    {% for i in range(9) %}
        {% set index=i + current_page - 2 %}
        {% if i==0 %}
            {% if current_page - 3 == 1 %}
                <li><a href="/index/question/{{ q_id }}?page=1">1</a></li>
            {% elif current_page -3 > 1  %}
                <li><a href="/index/question/{{ q_id }}?page=1">1</a></li>
                <li><span>...</span></li>
            {% endif %}
        {% endif %}
        {% if current_page == index %}
            <li class="uk-active"><span>{{ index }}</span></li>
        {% elif index>=current_page-3 and index<current_page + 3%}
            {% if index>0 and index<= page_count%}
            <li><a href="/index/question/{{ q_id }}?page={{ index }}">{{ index }}</a></li>
            {% endif %}
        {% endif %}
        {% if i==8 %}
            {% if current_page + 3 == page_count %}
                <li><a href="/index/question/{{ q_id }}?page={{ page_count }}">{{ page_count }}</a></li>
            {% elif current_page + 3 < page_count  %}
                <li><span>...</span></li>
                <li><a href="/index/question/{{ q_id }}?page={{ page_count }}">{{ page_count }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    </ul>
    {% endif %}
    </div>
{% endblock %}