{% extends 'base.html' %}
{% block mid_content %}
    <div class="uk-width-medium-1-1">
      <p class="uk-text-large">求打赏</p>
      <div class="uk-gird" data-uk-grid-margin>
          <div id="all_article_box">
                <article class="uk-article">
                <p>
                    现在的服务器是在旧金山，每个月要$5，域名每年也要一百来块
                </p>
                <p>
                    我是个学生，现在还在上课，如果你觉得我的网站做得不错，可以通过微信打赏我下
                </p>
                <p>
                    金额随意，哪怕0.01也行，只要有人支持我，我会一直把网站完善下去的，么么哒～
                </p>
                <img src="http://image-10015041.file.myqcloud.com/kantujun/56eebbe6196acc10d701bca7.png" class="uk-thumbnail-large">
                </article>
        </div>
      </div>
    </div>
{% endblock %}