<!DOCTYPE html>
<html lang="en-gb" dir="ltr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>知乎看图</title>
        <link rel="stylesheet" href="../static/css/uikit.gradient.css">
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/uikit.js"></script>
        <link id="data-uikit-theme" rel="stylesheet" href="../static/css/uikit.docs.min.css">
    </head>
<body>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  <nav class="tm-navbar uk-navbar uk-navbar-attached">

      <ul class="uk-navbar-nav">
        <a class="uk-navbar-brand" href="/">知乎看图</a>
              <div class="uk-form uk-navbar-content uk-display-inline-block">
                <input type="text" placeholder="Search" id="url">
                <button class="uk-button uk-button-primary" onclick="search()">Get!</button>
              </div>
      </ul>
  </nav>

<div class="uk-margin uk-thumbnail-expand" data-uk-margin="" id="imageList">
  <!-- <img class="uk-thumbnail" src="../img/zhihu/4d89e7335c72c5077ba0c1d6b83393c5_r.png" width="215" height="100" alt="">
  <img class="uk-thumbnail" src="../img/zhihu/4d89e7335c72c5077ba0c1d6b83393c5_r.png" width="215" height="100" alt="">
  <img class="uk-thumbnail" src="../img/zhihu/4d89e7335c72c5077ba0c1d6b83393c5_r.png" width="215" height="100" alt="">
  <img class="uk-thumbnail" src="../img/zhihu/4d89e7335c72c5077ba0c1d6b83393c5_r.png" width="215" height="100" alt="">
  <img class="uk-thumbnail" src="../img/zhihu/4d89e7335c72c5077ba0c1d6b83393c5_r.png" width="215" height="100" alt="">
  <img class="uk-thumbnail" src="../img/zhihu/4d89e7335c72c5077ba0c1d6b83393c5_r.png" width="215" height="100" alt=""> -->
</div>
</body>
<script>
  function search(){
    var url= $('#url').val();
    $.get("/api/zhihu_spider?url=" + url,
        function(data,status){
            if(status=="success"){
              var imageBox = $('#imageList');
              imageBox.empty();
              var imageList = data.imageList;
              alert("找到"+imageList.length+"张图片");
              for (var i = 0; i < imageList.length; i++) {
                var image = imageList[i];
                imageBox.append(
                  '<img class="uk-thumbnail" src="../img/zhihu/'+image+'" width="215" height="100" alt="">'
                );
              }
            }
            });
  }
</script>
</html>
